[submodule "PCB/KiCad-SSD1306-0.91-OLED-4pin-128x32.pretty"]
	path = PCB/KiCad-SSD1306-0.91-OLED-4pin-128x32.pretty
	url = https://github.com/gorbachev/KiCad-SSD1306-0.91-OLED-4pin-128x32.pretty.git
[submodule "key-switches.pretty"]
	path = key-switches.pretty
	url = https://github.com/siderakb/key-switches.pretty.git
[submodule "PCB/Footprints/kicad-libraries"]
	path = PCB/Footprints/kicad-libraries
	url = https://github.com/sszczep/kicad-libraries.git
